@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');

:root {
    --clr-text-main: black;
    --clr-accent: #0F456B;
    --clr-accent-sec: #6DB8C1;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif !important;
    outline: none;
    border: none;
    color: black !important;
    text-decoration: none !important;
    transition: .2s linear !important;
}


html {
    scroll-behavior: smooth;
    scroll-padding: 110px;
}

body {
    background: #f1f1f1;
}

/* Inicio header */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: 15px 5%;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1) !important;
    background-color: whitesmoke !important;
}

header .logo {
    font-size: 2rem;
    font-weight: bolder;
}

.mart {
    color: var(--clr-accent) !important;
}

header nav a {
    font-size: 1.1rem;
    padding: 0 20px;
}

header a:hover:not(.logo) {
    color: var(--clr-accent) !important;
}

header .iconos a svg {
    width: 1.3rem;
}

.iconos a svg:hover {
    fill: var(--clr-accent);
}

header .iconos a {
    margin-left: 5px;
    margin-right: 5px;
}

/* Fin header */

section {
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

/* Inicio Hero */

.inicio {
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding: 2% 5%;
    background: url(FOTO!!) no-repeat;
    /* AGREGAR FOTO DE FONDO */
    background-size: cover;
    background-position: center;
    z-index: 99;
}

.inicio .contenido {
    max-width: 50vw;
    margin-top: 80px;
}

.contenido h3 {
    font-size: 3.8rem;
    font-weight: bold;
}

.contenido h5 {
    font-size: 2.2rem;
    color: var(--clr-accent) !important;
}

.contenido p {
    font-size: 1.4rem;
    padding: 0.5rem 0;
    max-width: 650px;
    text-align: justify;
}

/* fin hero */

/* botones */
.btn {
    display: inline-block;
    border-radius: 40px;
    background: black;
    color: #fff !important;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover {
    background-color: var(--clr-accent) !important;
}

/* fin botones */

.footer {
    bottom: 0;
}

.creditos p {
    font-style: italic;
}

/* Inicio section los mas vendidos */
.LosMasVendidos {
    text-align: center;
}

.LosMasVendidos .titulo {
    background-color: var(--clr-accent);
    user-select: none;
}

.LosMasVendidos .titulo h1 {
    padding-top: 2.5%;
    color: white !important;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.LosMasVendidos .titulo span {
    color: white !important;
    font-size: 3rem;
}

.LosMasVendidos .content {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 3vh;
}

.LosMasVendidos .content .item {
    max-width: 15vw;
    border-radius: 5px;
}

.LosMasVendidos .content .item:hover {
    transform: scale(1.1);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.LosMasVendidos .content .item img {
    max-width: 100%;
    max-height: 100%;
}

.LosMasVendidos .content .item h1 {
    font-size: 24px;
}

.LosMasVendidos .content .item h2 {
    font-family: Merriweather, serif !important;
    color: var(--clr-accent) !important;
    font-style: italic;
    font-size: 24px;
}

.LosMasVendidos a {
    margin-top: 3vh;
}

/* Fin los más vendidos */

/* Inicio categorías */
.categorias h2 {
    padding-top: 5%;
    margin-bottom: 1rem;
    margin-left: 4%;
}

/* Owl Carousel */
.owl-nav span {
    font-size: 75px;
    position: absolute;
    transform: translateY(-200%);
}

.owl-prev {
    margin-left: 5%;
}

.owl-next {
    transform: translateX(90vw);
}

.owl-stage-outer {
    max-width: 80vw;
    margin-left: 10vw;
}

#categorias .cat {
    border: 1px solid;
    width: fit-content;
    padding: 1%;
    background-color: #fff;
    border-radius: 5px;
}

#categorias div img {
    height: 250px;
}

#categorias div p {
    text-align: center;
}

/* Fin categorías */

/* Inicio Sobre Nosotros */

.Nosotros .title {
    margin-top: 1%;
    text-align: justify;
    padding: .5em 2em;
}

.columnas {
    display: flex;
    gap: 2em;
    margin: 2em 2em;
}

.columnas h3 {
    font-size: 28px;
    color: var(--clr-accent-sec) !important;
    -webkit-text-stroke: 1px var(--clr-accent) !important;
}

.columnas div {
    flex-basis: 100%;
    height: 50vh;
    border-radius: 5px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}

.columnas div>* {
    margin: .5em 2em;
    list-style: none;
    text-align: center;
}

.columnas li {
    font-size: 24px;
    line-height: 2ch;
}

/* Reseñas */
.Review h2 {
    margin-left: 4%;
}

.reviewUser {
    width: 50px;
}

.reviewText {
    font-size: 18px;
    margin: 5% 0;
}

.reviewStar img {
    height: 30px;
}

.card-header {
    background-color: #0F456B;
    color: #fff !important;
    font-weight: 600;
}


/* Post Review */
.reviewPost {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background-color: #f1f1f1;
    padding: 20px 30px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}

.reviewPost .post {
    display: none;
}

.reviewPost .text {
    font-size: 25px;
    font-weight: 500;
}

.reviewPost .close {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 5px;
    cursor: pointer;
}

.x {
    font-size: 20px;
    font-weight: bold;
}

.reviewPost .contenedorEstrellas input {
    display: none;
}

.contenedorEstrellas {
    max-height: 40px;
    max-width: 70%;
    margin-bottom: 10%;
}

.contenedorEstrellas label {
    width: 40px;
    transition: all 0.2s ease;
    float: right;

}

label svg {
    width: 40px;
    height: 40px;

}

input:not(:checked)~label:hover svg,
input:not(:checked)~label:hover~label svg {
    fill: #6DB8C1;
}

input:checked~label svg {
    fill: #6DB8C1;
}

form .textarea {
    height: 10vh;
    width: 100%;
    overflow: hidden;
}

form .textarea textarea {
    height: 100%;
    width: 100%;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    background: #f1f1f1;
    padding: 10px;
    font-size: 17px;
    resize: none;
}

.postButton {
    margin-top: 5%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* Post review */