@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');

:root {
    --clr-text-main: black;
    --clr-accent: #0F456B;
    --clr-accent-sec: #6DB8C1;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif !important;
    outline: none;
    border: none;
    color: black !important;
    text-decoration: none !important;
    transition: .2s linear !important;
}


html {
    scroll-behavior: smooth;
    scroll-padding: 85px;
}

body {
    background: #f1f1f1;
}

/* Inicio header */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: 15px 5%;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1) !important;
    background-color: whitesmoke !important;
}

header .logo {
    font-size: 2rem;
    font-weight: bolder;
}

.logo img {
    height: 1.3em;
    margin-right: 10px;
}

.mart {
    color: var(--clr-accent) !important;
}

header nav a {
    font-size: 1.1rem;
    padding: 0 20px;
}

header a:hover:not(.logo) {
    color: var(--clr-accent) !important;
}

header .iconos a svg {
    width: 1.3rem;
}

.iconos a svg:hover {
    fill: var(--clr-accent);
}

header .iconos a {
    margin-left: 5px;
    margin-right: 5px;
}

/* Fin header */

section {
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

/* Inicio Hero */

.inicio {
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding: 2% 5%;
    background: url("../img/hero.png") no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 99;
}

.inicio .contenido {
    max-width: 50vw;
    margin-top: 80px;
}

.contenido h3 {
    font-size: 3.8rem;
    font-weight: bold;
}

.contenido h5 {
    font-size: 2.2rem;
    color: var(--clr-accent) !important;
}

.contenido p {
    font-size: 1.4rem;
    padding: 0.5rem 0;
    max-width: 650px;
    text-align: justify;
}

/* fin hero */

/* botones */
.btn {
    display: inline-block;
    border-radius: 40px;
    background: black;
    color: #fff !important;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover {
    background-color: var(--clr-accent) !important;
}

/* fin botones */

/* Inicio section los mas vendidos */
.blank-space {
    height: 85px;
    background-image: linear-gradient(hsla(0, 0%, 100%, 0) 0%, var(--clr-accent) 100%);
}

.blank-space img {
    width: 100%;
}

.LosMasVendidos {
    text-align: center;
}

.LosMasVendidos .titulo {
    background-color: var(--clr-accent);
    user-select: none;
}

.LosMasVendidos .titulo h1 {
    padding-top: 2.5%;
    color: white !important;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.LosMasVendidos .titulo span {
    color: white !important;
    font-size: 3rem;
}

.LosMasVendidos .content {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 3vh;
}

.LosMasVendidos .content .item,
.products .item {
    max-width: 15vw;
    border-radius: 5px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    background-color: rgba(255, 255, 255, 0.5);
}

.LosMasVendidos .content .item:hover,
.products .item:hover {
    transform: scale(1.05);
}

.LosMasVendidos .content .item img,
.products .item img {
    max-width: 100%;
    max-height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.LosMasVendidos .content .item h1,
.products .item h1 {
    font-size: 24px;
}

.LosMasVendidos .content .item h2,
.products .item h2 {
    font-family: Merriweather, serif !important;
    color: var(--clr-accent) !important;
    font-style: italic;
    font-size: 24px;
}

.LosMasVendidos a {
    margin-top: 3vh;
}

/* Fin los más vendidos */

/* Inicio categorías */

.categorias {
    height: 85vh;
}

.categorias h2 {
    padding-top: 5%;
    margin-bottom: 1rem;
    margin-left: 4%;
}

/* Owl Carousel */
.owl-nav span {
    font-size: 75px;
    position: absolute;
    transform: translateY(-225%);
}

.owl-prev {
    margin-left: 5%;
}

.owl-next {
    transform: translateX(90vw);
}

.owl-stage {
    height: 50vh;
}

.owl-stage-outer {
    max-width: 80vw;
    margin-left: 10vw;
}

#categorias .cat {
    width: fit-content;
    padding: 1%;
    border-radius: 5px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}

#categorias div img {
    height: 250px;
}

#categorias div p {
    text-align: center;
}

/* Fin categorías */

/* Inicio Sobre Nosotros */

.Nosotros .title {
    text-align: justify;
    padding: .5em 2em;
}

.columnas {
    display: flex;
    gap: 2em;
    margin: 2em 2em;
}

.columnas h3 {
    font-size: 28px;
    color: var(--clr-accent) !important;
    font-weight: 600;
}

.columnas div {
    flex-basis: 100%;
    height: 50vh;
    border-radius: 5px;
    box-shadow: 0 .5rem 1rem rgba(255, 255, 255, 0.4);
    background-color: rgb(215, 236, 255);
}

.columnas div>* {
    margin: .5em 2em;
    list-style: none;
    text-align: center;
}

.columnas ul {
    padding-left: 0;
}

.columnas li {
    font-size: 24px;
    line-height: 2.5ch;
}

/* Reseñas */
.Review {
    height: 90vh;
}

.Review h2 {
    margin-left: 4%;
    margin-top: 5%;
}

.reviewUser {
    width: 50px;
}

.reviewText {
    font-size: 18px;
    margin: 5% 0;
}

.reviewStar img {
    height: 30px;
}

.card-header {
    background-color: #0F456B;
    color: #fff !important;
    font-weight: 600;
}


/* Post Review */
.reviewPost {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background-color: white;
    padding: 20px 30px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}

.reviewPost .post {
    display: none;
}

.reviewPost .text {
    font-size: 25px;
    font-weight: 500;
}

.reviewPost .close {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 5px;
    cursor: pointer;
}

.x {
    font-size: 20px;
    font-weight: bold;
}

.reviewPost .contenedorEstrellas input {
    display: none;
}

.contenedorEstrellas {
    max-height: 40px;
    max-width: 70%;
    margin-bottom: 10%;
}

.contenedorEstrellas label {
    width: 40px;
    transition: all 0.2s ease;
    float: right;

}

label svg {
    width: 40px;
    height: 40px;

}

input:not(:checked)~label:hover svg,
input:not(:checked)~label:hover~label svg {
    fill: #6DB8C1;
}

input:checked~label svg {
    fill: #6DB8C1;
}

form .textarea {
    height: 10vh;
    width: 100%;
    overflow: hidden;
}

form .textarea textarea {
    height: 100%;
    width: 100%;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    background: #f1f1f1;
    padding: 10px;
    font-size: 17px;
    resize: none;
}

.postButton {
    margin-top: 5%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* Post review */

footer {
    bottom: 0;
}

.creditos p {
    font-style: italic;
    padding: 2% 0;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
}

#footer .col:not(:first-of-type) {
    border-left: 1px solid lightgray;
}

.useful-links ul {
    list-style: none;
}

.useful-links li {
    padding: 5% 0;
}

.redes div svg {
    height: 40px;
}

.useful-links li:hover {
    text-decoration: underline !important;
}

/* review page */
.review {
    padding-top: 3%;
    margin-bottom: 5%;
}

/* buy page  */
.search-bar {
    margin-top: 3%;
}

.container-fluid {
    background: #f1f1f1;
    display: flex;
    justify-content: center;
}

.form-control {
    width: 500px;
}

.dropdown .show:has(img) {
    background-color: black;
}

.dropdown-menu li:hover {
    background-color: #0F456B;
}

.search-btn {
    margin-right: 2%;
}

.search-btn,
.filter-btn {
    transform: translateY(-5px);
}

.search-btn img,
.filter-btn img {
    height: 20px;
}


.search-btn {
    border-top-left-radius: 0;
    border-end-start-radius: 0;
}

.footer-comprar {
    display: none;
}

.fila {
    display: flex;
    gap: 6vw;
    justify-content: center;
    margin-top: 3vh;
    margin-bottom: 5vh;
}

.products {
    margin-top: 5%;
}

.products .item h1 {
    font-size: 24px;
}

.products .item h2 {
    font-family: Merriweather, serif !important;
    color: var(--clr-accent) !important;
    font-style: italic;
    font-size: 24px;
    text-align: center;
}

.spinner {
    margin: 30px auto;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid #ccc;
    animation: spin 1.0s linear infinite;
    border-bottom-color: var(--clr-accent);
}

@keyframes spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

/* Vender Page */
.vender {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.vender form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    min-width: 70vw;
    padding: 4%;
    margin-top: 5%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    gap: .5rem;
}

.dropdown-btn {
    cursor: pointer;
    border: 1px solid rgb(222, 226, 230);
    border-radius: 5px;
    max-width: fit-content;
    white-space: nowrap;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    background: none;
}

.dropdown-content {
    display: none;
}

.success {
    display: none;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 10px;
    background-color: #33c254;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    animation: opacity 4s ease-in;
}

.success svg {
    width: 30px;
}

.success p {
    color: white !important;
    margin-top: 15px;
    margin-left: 10px;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 100;
    }

    95% {
        opacity: 100;
    }

    100% {
        opacity: 0;
    }
}
